<div class="panel panel-info">
  	<div class="panel-heading">
      <h3 class="panel-header text-center"><strong><%= Status.find(3).description %></strong></h3>
  	</div>
  	<div class="panel-body" style="max-height: 800px ;overflow-y: scroll;">
  		<% @completed.each do |project| %>
	  		<div class="well well-sm well-custompadding">
	  			<%= link_to project.title, project %>
          <br>
          <small><%= link_to project.university.description, project.university%></small>
	  		</div>
  		<% end %>
  	</div>
</div>